<div>
    <h2> {{ faceSnap.title }} </h2>
    <p> {{faceSnap.description }}</p>
    <p>Mise en ligne: {{faceSnap.createDate | date}}</p><!-- Ici le pipe modifie le format de la date (son affichage)-->
    <p>
        <button (click)="onSnap()">{{snappedButtonText}}</button>
        <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }"> {{ faceSnap.snaps}}</span>
    </p>
    <p *ngIf="faceSnap.location">Lieu : {{ faceSnap.location | uppercase}}</p>  <!-- On a fait un pipe avec | uppercase-->

    <button routerLink= "/facesnaps">Retour</button>

</div>

